form {
    fieldset {
        display: grid;
        grid-template-columns: repeat(2, max-content);
        align-items: center;
        justify-content: center;
        column-gap: 0.5rem;
        row-gap: 1rem;
        padding: 1rem;

        border-radius: 10px;

        label {
            text-align: right;
        }

        .col-2,
        .error,
        .errors {
            @extend .row, .align-center, .justify-center;
            grid-column: 1 / span 2;
        }

        .error,
        .errors {
            color: var(--alert);
        }

        .optional {
            color: cyan;
        }

        label,
        button,
        input,
        select,
        textarea {
            font-size: 1rem;
        }

        textarea {
            justify-self: center;
            width: 75%;
        }
    }
}
