@use 'modules/mixins' as *;
@use 'modules/variables' as *;
@use 'modules/elements' as *;
@use 'classes/classes' as *;

:root {
    font-size: var(--cwd-font-size);

    body,
    *::before,
    *::after {
        @include reset;
    }

    body {
        @extend .column;
        width: 100vw;
        height: 100vh;
        overflow: none;


        background: var(--cwd-body-background);
        color: var(--cwd-body-color);

        nav {
            @include reset;
            @extend .flex, .align-center;

            background: var(--cwd-nav-background);
            color: var(--cwd-nav-color);

            a,
            z {
                @extend .flex, .align-center;
                gap: 0.25rem;
                padding: 0.5rem 1rem;

                &.last {
                    margin-left: auto;
                }

                &:hover {
                    background: var(--cwd-nav-hover-background);
                    color: var(--cwd-nav-hover-color);
                }
            }
        }

        main {
            @extend .flex, .column, .align-center;
            width: 100%;
            max-height: 100%;
            overflow: auto;

            header {
                @include reset;
                @extend .flex, .column, .align-center;
            }
        }

        footer {
            @extend nav;

            position: fixed;
            bottom: 0;
            left: 0;

            width: 100vw;
            overflow: hidden;
        }
    }
}
