:root {
    --cwd-font-size: 18px;

    --alert: maroon;
    --important: goldenrod;
    --good: green;

    --cwd-body-background: #e9e5e5;
    --cwd-body-color: #000;

    --cwd-nav-background: #bfbebe;
    --cwd-nav-color: #000;
    --cwd-nav-hover-background: #808080;
    --cwd-nav-hover-color: #FFF;

    --cwd-i-active-background: limegreen;
}

[data-theme="dark"] {
    --cwd-body-background: #060636;
    --cwd-body-color: #e9e5e5;

    --cwd-nav-background: #101094;
    --cwd-nav-color: #e9e5e5;
    --cwd-nav-hover-background: cyan;
    --cwd-nav-hover-color: #000;
}
